@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bruno+Ace+SC&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url(../../../public/spacePic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  color: white;
}

.App {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  font-family: 'Bangers', cursive;
  text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}
